<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SiteAdmin.css" rel="stylesheet" />
    
    @if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "facturacion")
    {
        <link href="~/Content/Admin/Facturacion/Fact.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "entregas")
    {
        <link href="~/Content/Admin/Entregas/entregas.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantlibros")
    {
        <link href="~/Content/Admin/Mantenimiento/Libro.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "inventario")
    {
        <link href="~/Content/Admin/Inventario/inventario.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantroles")
    {
        <link href="~/Content/Admin/Mantenimiento/Roles.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantautor")
    {
        <link href="~/Content/Admin/Mantenimiento/Autor.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantcategoria")
    {
        <link href="~/Content/Admin/Mantenimiento/Categoria.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantproveedor")
    {
        <link href="~/Content/Admin/Mantenimiento/Proveedor.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantestadocaja")
    {
        <link href="~/Content/Admin/Mantenimiento/EstadoCaja.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "manttipomovcaja")
    {
        <link href="~/Content/Admin/Mantenimiento/TipoMovCaja.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "reporteventa")
    {
        <link href="~/Content/Admin/Reportes/Ventas.css" rel="stylesheet" />
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "reporteinventario")
    {
        <link href="~/Content/Admin/Reportes/Inventario.css" rel="stylesheet" />
    }
</head>
<body id="">
    <nav id="navbar" class="navbar-main navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/Images/imanaicon.png">
                <a class="navbar-brand">SIGELIBMA</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <ul class="nav navbar-nav">
                    <li class="Active"><a href="/facturacion">Facturacion <span class="sr-only">(current)</span></a></li>
                    <li><a href="/entregas">Entregas</a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/inventario">Inventario</a></li>
                            <li><a href="/mantroles">Roles</a></li>
                            <li><a href="/mantautor">Autores</a></li>
                            <li><a href="/mantlibros">Libros</a></li>
                            <li><a href="/mantcategoria">Categorias</a></li>
                            <li><a href="/mantproveedor">Proveedores</a></li>
                            <li><a href="/mantcaja">Cajas</a></li>
                            <li><a href="/mantestadocaja">Estado Cajas</a></li>
                            <li><a href="/manttipomovcaja">Tipo Mov Cajas</a></li>
                            <li><a href="/manttipotransaccion">Tipo Transaccion</a></li>
                            <li><a href="/mantestadofactura">Estado Facturas</a></li>
                            <li><a href="/manttipopago">Tipos Pago</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/reporteventa">Ventas</a></li>
                            <li><a href="/reporteinventario">Inventario</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="nameandjobtitlebar" class="active"><a class=""><i class="intelicon-user-person-outlined" aria-hidden="true"></i>{{sesion.username}} | {{sesion.usuario}}</a></li>
                    <li  class="active"><a href="" v-on:click="logOut()">Logout </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="pageMainContainer" class="">

        @RenderBody()

        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Underscore.js"></script>
    <script src="~/Scripts/VueJsFramework/vue1.js"></script>
    <script src="~/Scripts/vue-strap/vue-strap.js"></script>
    <script src="~/Scripts/VueJs/Admin/navbar.js"></script>
    @if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "facturacion")
    {
        <script src="~/Scripts/VueJs/Admin/facturacion.js"></script>
        
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "entregas")
    {
        <script src="~/Scripts/VueJs/Admin/entregas.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "inventario")
    {
        <script src="~/Scripts/VueJs/Admin/inventario.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantroles")
    {
        <script src="~/Scripts/VueJs/Admin/MantRoles.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantautor")
    {
        <script src="~/Scripts/VueJs/Admin/MantAutor.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantcategoria")
    {
        <script src="~/Scripts/VueJs/Admin/MantCategoria.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantproveedor")
    {
        <script src="~/Scripts/VueJs/Admin/MantProveedor.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantestadocaja")
    {
        <script src="~/Scripts/VueJs/Admin/MantEstadoCaja.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "manttipomovcaja")
    {
        <script src="~/Scripts/VueJs/Admin/MantTipoMovCaja.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantestadofactura")
    {
        <script src="~/Scripts/VueJs/Admin/MantEstadoFactura.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "manttipopago")
    {
        <script src="~/Scripts/VueJs/Admin/MantTipoPago.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantlibros")
    {
        <script src="~/Scripts/VueJs/Admin/MantLibros.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "mantcaja")
    {
        <script src="~/Scripts/VueJs/Admin/MantCaja.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "manttipotransaccion")
    {
        <script src="~/Scripts/VueJs/Admin/MantTipoTransaccion.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "reporteventa")
    {
        <script src="~/Scripts/VueJs/Admin/ReporteVenta.js"></script>
    }
    else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "reporteinventario")
    {
        <script src="~/Scripts/VueJs/Admin/ReporteInventario.js"></script>
    }

    
</body>
</html>
